
# This group is read both both by the client and the server
# use it for options that affect everything
#
#
# This group is read by the server
[client]
user="{{ mysql.user }}"
password="{{ mysql.new_password}}"
host="{{ansible_eth1.ipv4.address}}"
